<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Charti.st - Coming soon</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="landing-page">
    <header>
      <h1>We are working our butts off to finish this website</h1>
      <p>
        Our developers
       <a href="http://www.twitter.com/yan0va" target="_blank"><img src="/assets/landing-page/bird.png" width="15" height="15"></img> yan0va</a>,
       <a href="http://www.twitter.com/itsmurasaki" target="_blank"><img src="/assets/landing-page/bird.png" width="15" height="15"></img> itsmurasaki</a>,
       <a href="http://www.twitter.com/mdubov" target="_blank"><img src="/assets/landing-page/bird.png" width="15" height="15"></img> mdubov</a>,
       <a href="http://www.twitter.com/TobyRet" target="_blank"><img src="/assets/landing-page/bird.png" width="15" height="15"></img> TobyRet</a>,
       <a href="http://www.twitter.com/MarioGintili" target="_blank"><img src="/assets/landing-page/bird.png" width="15" height="15"></img> MarioGintili</a>
        are doing their best to finish this website before the counter stops. You can keep up to date with their progress via our twitter, blog and github.
      </p>
    </header>
    <div id="main">
      <div id="counter"></div>
      <div class="social-media-arrow"></div>
      <div id="links">
        <a href="https://github.com/chartist" target="_blank"><div class="github"></div></a>
        <a href="http://www.chartistchat.tumblr.com" target="_blank"><div class="tumblr"></div></a>
        <a href="https://twitter.com/chartistchat" target="_blank"><div class="twitter"></div></a>
      </div>
    </div>
  </body>
</html>
