<div class="container-fluid">
    <div class="home-info-header"><h2>Creating charts with Chartist is easy<h2></div>
    <div class="row">
      <div class="col-md-4">
         <%= image_tag "homepage/upload.png" %>
         <div class="info-title">Upload</div>
         <div class="info-text">We made it simple, fast and hassle-free for you. Just import your data either from your computer or enter it manually in our spreadsheet.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/create.png" %>
         <div class="info-title">Style</div>
         <div class="info-text">Enjoy designing your own beatiful charts. Select the desired chart style and pick the perfect colour scheme.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/share.png" %>
         <div class="info-title">Share</div>
         <div class="info-text">Create your own board of charts on Chartist and instantly share with the whole world. Email it, tweet it, blog it, post it on Facebook or LinkedIn.</div>
      </div>
    </div>
    
    <a href="#sign-up" class="nav-button btn btn-danger">Start creating</a>
    
  </div>