<div class="container-fluid">
    <div class="home-info-header"><h2>Creating charts with Chartist is easy<h2></div>
    <div class="row">
      <div class="col-md-4">
         <%= image_tag "homepage/upload.png" %>
         <div class="info-title">Upload</div>
         <div class="info-text">Enter or upload your data.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/create.png" %>
         <div class="info-title">Style</div>
         <div class="info-text">Choose a chart type and matching colour scheme.</div>
      </div>

      <div class="col-md-4">
        <%= image_tag "homepage/share.png" %>
         <div class="info-title">Share</div>
         <div class="info-text">Share your chart on your dashboard or share instantly on social media.</div>
      </div>
    </div>
    
    <a href="#sign-up" class="nav-button btn btn-danger">Start creating</a>
    
  </div>