 
  <script src="assets/jquery.scrollTo-1.4.3.1.min.js"></script>
  <script src="assets/jquery.scrollorama.js"></script>
  <script src="assets/jquery.easing.1.3.js"></script>
  <script src="assets/jquery.scrolldeck.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash,
      $target = $(target);

      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'easeInOutExpo', function () {
          window.location.hash = target;
      });
  });
});
</script>

<div class="wrapper">
  <div class="homepage-header slide" id="homepage-cover">
      <%= image_tag "homepage/logo_home.png" %>
      <div class="header-text">Data visualization on the go</div>
      <a href="#sign-up" class="nav-button btn btn-danger">Start creating</a><br>
      <a href="#more" class="nav-button header-link">Find out more</a>
  </div>

  <div class="homepage-info slide" id="more">
    <%= render :file => "home/homepage_info" %>
  </div>

  <div class="homepage-forms slide" id="sign-up">
    <%= render :file => "devise/registrations/new" %>
  </div>

  <div class="homepage-footer slide">
    <p>Made by the Chartist Team at <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a></p>
    <p>Follow us on 
    <a href="https://twitter.com/ChartistChat" target="_blank"><i class="fa fa-twitter"></i> twitter</a> 
    <a href="http://chartistchat.tumblr.com/" target="_blank"><i class="fa fa-rss"></i> blog</a>
    <a href="https://github.com/chartist/chartist" target="_blank"><i class="fa fa-github"></i> github</a></p>
    <p>&copy; 2014 All Rights Reserved</p>
  </div>

</div>
