<%= graphic_of(chart).html_safe %>
<% if chart.dashboards.any? %>
  <% chart.dashboards.each do |dashboard| %>
    <%= link_to dashboard.title, dashboard_path(dashboard.id) %>
  <% end %>
<% end %>
<div class="chart-author"><strong>Created by <%= chart.user.username if chart.user %></strong></div> 



