<div class="page-header"><h1>All Charts</h1></div>
<div class = "row">
  <% @charts.each do |chart| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h2><%= link_to chart.name, charts_path(:id) %></h2>
        <%= render chart %>
      </div>
    </div>
  <% end %>
</div>
