<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">sd</li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">dsf</li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">sdf</li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">fsda</li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="2">asdf</li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">afds</li>
    <li data-row="2" data-col="4" data-sizex="2" data-sizey="1">dsf</li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">saf</li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">asdf</li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">sadf</li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">asfa</li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="2">asdf</li>
  </ul>
</div>
<div class="page-header"><h1>All Charts</h1></div>
<div class = "row">
  <% @charts.each do |chart| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <h2><%= link_to chart.name, chart_path(chart) %></h2>
        <%= render chart %>
      </div>
    </div>
  <% end %>
</div>
