<div class="page-header">
  <h1 class="text-center">Latest Charts</h1>
</div>
<% if @charts.any? %>
  <% @charts.in_groups_of(3, false) do |triplet| %>
    <div class="row charts-row">
      <% triplet.each do |chart| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail dashboard-chart index-tile">
            <h2><%= link_to chart.name, chart_path(chart) %></h2>
            <%= render chart %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
