<div class="page-header">All Charts</div>
<div class="row charts-row">
  <% @charts.each do |chart| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail dashboard-chart">
        <h2><%= link_to chart.name, chart_path(chart) %></h2>
        <%= render chart %>
      </div>
    </div>
  <% end %>
</div>
