<div class="panel panel-danger chart_container">
  <div class = "panel-heading">
    <%= @chart.name %>
  </div>

  <div class = "panel-body">
    <%= render @chart %>
    <%= render 'layouts/share' %>
  </div>
</div>
