@import "mixins";

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Open Sans";
  color: $darker;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}

a {
  color: $accent;
  font-weight: 600;
}

a:hover {
  color: $darker;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Header */

.homepage-header {
  width: 100%;
  height: 100%;
  background: image-url("homepage/bg_header2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding-top: 15%;
}

.header-text {
  margin: 10px 0px 25px 0px;
  text-shadow: 1px 1px 5px $darker;
}

.homepage-header > .btn, .homepage-info .btn {
  background: $accent;
  border: 1px solid $accent;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 45px;
  margin: 0px 5px;
}

.homepage-info .btn {
  margin-top: 10px;
}

.homepage-header > .btn:hover, .homepage-info .btn:hover {
  background: $accent-lighter;
  border: 1px solid $accent-lighter;
}

.homepage-header a {
  padding: 0px;
  margin: 0px;
}

a.header-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

a.header-link:hover {
text-decoration: underline;
}

/* Info */

.homepage-info {
  background: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px
}

.home-info-header {
  font-size: 26px;
  color: $darker;
  margin-bottom: 50px;
}

.col-md-4 {
  text-align: center;
}

.info-title {
  color: $accent-lighter;
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
}

.info-text {
  color: $medium-grey;
  width: 70%;
  margin: 0px auto 20px auto;
  font-size: 16px;
}

.homepage-info img {
  padding: 5px;
  border: 1px solid $pale-grey;
  border-radius: 5px;
}


/* Sign up */

.homepage-forms {
  background: image-url("homepage/bg_header.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}


/* Footer */

.homepage-footer {
  width: 100%;
  height: 200px;
  background: $pale-grey;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  line-height: 30px;
}