@import "mixins";

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Open Sans";
  color: $darker;
  font-weight: 400;
  font-size: 14px;
  margin: 0px;
}

a {
  color: $accent;
  font-weight: 600;
}

a:hover {
  color: $darker;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

/* Header */

.homepage-header {
  width: 100%;
  height: 100%;
  display: block;
  background: image-url("homepage/bg_header.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  padding-top: 15%;
}

.header-text {
  margin: 10px 0px 25px 0px;
  text-shadow: 1px 1px 5px $darker;
}

.homepage-header > .btn, .homepage-info .btn {
  background: $accent;
  border: 1px solid $accent;
  font-size: 20px;
  font-weight: 300;
  padding: 15px 45px;
  margin: 0px 5px;
}

.homepage-info .btn {
  margin-top: 10px;
}

.homepage-header > .btn:hover, .homepage-info .btn:hover {
  background: $accent-lighter;
  border: 1px solid $accent-lighter;
}

.homepage-header a {
  padding: 0px;
  margin: 0px;
}

a.header-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 5px $darker;
}

a.header-link:hover {
text-decoration: underline;
}

/* Info */

.homepage-info {
  background: #ffffff;
  width: 100%;
  min-height: 100%;
  height:auto;
  text-align: center;
  padding: 5% 0px;
  
}

.home-info-header {
  font-size: 26px;
  color: $darker;
  margin-bottom: 50px;
}

.col-md-4 {
  text-align: center;
}

.info-title {
  color: $accent-lighter;
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
}

.info-text {
  color: $medium-grey;
  width: 70%;
  margin: 0px auto 20px auto;
  font-size: 16px;
}

.homepage-info img {
  padding: 5px;
  border: 1px solid $pale-grey;
  border-radius: 5px;
}

/* Sign up */

.homepage-forms {
  background: image-url("homepage/bg_signup.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

.homepage-forms .form-footer a {
  color: $medium-grey;
}

.homepage-forms .form-footer a:hover {
  color: $dark-grey;
}


/* Footer */

.homepage-footer {
  width: 100%;
  height: 140px;
  
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  padding: 30px;
  text-align: center;
  line-height: 30px;
}

.homepage-footer > p {
  margin: -5px;
  padding: 0px;
}

.homepage-footer a {
  color: $medium-grey;
  text-decoration: none;
}

.homepage-footer a:hover {
  color: $darker;
  text-decoration: none;
}

.homepage-clearfix {
  clear:both;
}

/* responsive fixes */
@media (max-width: 465px) {
.homepage-header img {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .homepage-header {
    min-height: 100%;
    height: auto;
  }

  .homepage-info {
    height: auto;
    padding-bottom: 40px;
  }

  .homepage-info img {
    width: 250px;
    margin-top: 20px;
  }

  .header-text {
    padding: 10px;
    font-size: 20px;
  }  

  .homepage-forms {
    height: auto;
    padding-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  height: auto;
}