/* fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,700,300|Satisfy);


/* color variables */

$darker: #201f1f;
$dark-blue: #2C3E50;
$dark-grey: #777777;
$medium-grey: #a9a9a9;
$pale-grey: #dfdfdf;
$accent: #a52625;
$accent-lighter: #d44544;
