@import "mixins";

/* logo */
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  margin: auto;
  text-align: center;
  font-family: "Satisfy";
  color: #ffffff;
  font-size: 28px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; 
  font-smoothing: antialiased;
  text-shadow: 1px 1px $accent;
}

.navbar-brand img {
  margin: -5px 10px 5px 0px;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
}

/* background */
.navbar {
  font-weight: 300;
  background: $accent; /* Old browsers */
  background: -moz-linear-gradient(top,  $accent-lighter 0%, $accent 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$accent-lighter), color-stop(100%,$accent)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $accent-lighter 0%,$accent 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $accent-lighter 0%,$accent 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $accent-lighter 0%,$accent 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $accent-lighter 0%,$accent 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b63d3c', endColorstr='$accent',GradientType=0 ); /* IE6-9 */
}

/* search form */
.navbar-default .navbar-form {
  margin-bottom: 3px;
  padding-top: 2px
}

/* buttons */
.btn-default {
  color: grey;
}

input:focus, button:focus {
  box-shadow: none !important;
  border: 1px solid #DDD !important;
  outline: none !important;
}

/* links and text */
.navbar-nav {
  margin-left: -23px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  text-decoration: none;
}


.navbar-default .navbar-nav {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: -5px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 400;
  background-color: $accent;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.navbar-default .navbar-text {
  color: #ffffff;
  margin: 0;
  padding: 15px 15px;
}

.navbar-default .navbar-nav .navbar-username {
  font-weight: 400;
}

.navbar-default .navbar-nav > .open > a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  background-color: $accent;
}

.navbar-default .navbar-nav > .open > a:hover, {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  background-color: transparent;
}
