@import "mixins";

/* any form */

.panel {
  width: 70%;
  margin: 5% auto;
  background: #ffffff;
  text-align: left;
}

@media (min-width: 1200px) {
  
  .panel {
    width: 40%;
  }
  
}

.panel-body {
  margin-top: 15px;
  padding: 20px;
}

.panel-heading {
  margin: 0px;
  font-size: 23px;
  font-weight: 400;
}

.column-border {
  border-right: 1px solid $medium-grey; 
}

.form-footer {
  clear: both;
  text-align: center;
}

.form-signin {
  width: 300px;
}

.form-rememberme {
  margin: 0px 0px 7px 0px;
}

.form-rememberme label {
  font-weight: 400;
}

/* input fields */

.form-control {
  margin-bottom: 10px;
  background: #f1f1f1;
}

.form-control:focus {
  border: 1px solid $accent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* text styles */

.form-title {
  padding: 0px 0px 10px 0px;
  font-size: 18px;
  color: $dark-grey;
  font-weight: 300;
}

.form-text {
  margin: 0px 0px 8px 0px;
}


/* buttons */

.btn-signup {
  background: $dark-grey;
  border: 1px solid $dark-grey;
}

.btn-signup:hover {
  background: $medium-grey;
  border: 1px solid $medium-grey;
}

.panel-body .btn-default {
  background: $dark-grey;
  border: 1px solid #666666;
  color: #ffffff;
  margin-top: 10px;
}

.panel-body .btn-default:hover {
  background: #555555;
  border: 1px solid #444444;
  color: #ffffff;
}

/* social buttons */ 

.right > .btn-social {
  margin-bottom: 10px;
}

/* alerts */ 

.alert {
  font-size: 16px;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  color: $accent;
  font-size: 14px;
}

.alert *, .alert li {
  padding: 0px;
  margin: 0px;
}

.alert ul {
  margin-top: -20px;
}