@import "mixins";

.form-signin {
  width: 300px;
}

.form-rememberme {
  margin: 0px 0px 7px 0px;
}

.form-rememberme label {
  font-weight: 400;
}

a {
  color: $dark-grey;
  font-weight: 600;
}

a:hover {
  color: $darker;
  text-decoration: none;
}

/* Homepage header */

.homepage_header {
  background: $medium-grey;
  width: 100%;
  margin: 0px;
  height: 100%;
}

/* Homepage body */

.homepage_body {
  height: 600px;
}

.form-container {
  width: 700px;
  margin: 10% auto;
  background: #ffffff;
  text-align: left;
}

.panel-heading {
  font-size: 23px;
  font-weight: 400;
  padding: 10px;
}

.form-control {
  margin-top: 20px;
  margin-bottom: 10px;
  background: #f1f1f1;
}

.form-control:focus {
  border: 1px solid $accent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-body {
  margin-top: 15px;
  padding: 20px;
}

.left {
  float: left;
  border-right: 1px solid $medium-grey; 
  width: 50%;
  padding-top: 0px;
}

.right {
  float: right;
  width: 50%;
  padding-top: 0px;
}

.form-title {
  padding-bottom: 10px;
  font-size: 18px;
  color: $dark-grey;
  font-weight: 300;
}

.form-text {
  margin: 17px 0px 8px 0px;
}

.homepage_body .btn {
  width: 100%;
  margin-bottom: 10px;
}

.btn-signup {
  background: $dark-grey;
  border: 1px solid $dark-grey;
}

.btn-signup:hover {
  background: $medium-grey;
   border: 1px solid $medium-grey;
}

.signup-footer {
  clear: both;
  text-align: center;
}

.reset-password-footer {
  margin-bottom: -2px;
}

.alert {
  font-size: 16px;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  color: $accent;
  font-size: 14px;
}

.alert *, .alert li {
  padding: 0px;
  margin: 0px;
}

.alert ul {
  margin-top: -20px;
}
/* Homepage footer */

.homepage_footer {
  height: 400px;
  background: grey;
}