<footer class="navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="footer-content slide">
      <p>Made by
        <a href="https://github.com/yan0va">@yan0va</a>,
        <a href="https://github.com/itsmurasaki">@itsmurasaki</a>,
        <a href="https://github.com/mariogintili">@mariogintilli</a>,
        <a href="https://github.com/duboff">@duboff</a>
        and
        <a href="https://github.com/tobyret">@tobyret</a>
        at
        <a href="http://www.makersacademy.com" target="_blank">Makers Academy</a></p>
      <p>Follow the project on
        <a href="https://twitter.com/ChartistChat" target="_blank"><i class="fa fa-twitter"></i>
          twitter</a>
        <a href="https://github.com/chartist/chartist" target="_blank"><i class="fa fa-github"></i>
          github</a>
      </p>
      <p>&copy; 2014 All Rights Reserved</p>
    </div>
  </div>
</footer>
