<% flash.each do |key, value| %>
  <div class="message">
    <div class="alert alert-<%= key %> fade in">
      <a class="close" href="#" data-dismiss="alert">&times</a>
      <center><strong><%= value %></strong></center>
    </div>
  </div>
<% end %>
