
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">

  <div class="navbar-content">
  
    <div class="navbar-left"><div class="btn btn-default btn-navbar">New chart</div></div>

    <div class="navbar-logo"><img src="assets/navbar/logo.png"></div>

    <div class="navbar-right"><div class="btn btn-default btn-navbar">Sign out</div></div>
  
  </div>

</nav>